body {
  background-color: rgb(200, 241, 228);
  display: grid;
  grid-template-rows: 60px 30px 1fr 60px 30px;
}  
#home {
  display: block;
}

.container {
  width: auto;
  height: auto;
}

.svg-container {
  margin: auto;
  border: solid;
  padding: 20px 50px 20px 50px;
  border-radius: 3px;
  border-width: 2px;
  border-color: black;
  margin-bottom: 20px;
}

.page-container {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  position: relative;
  height: 100%;

  overflow-y: scroll;
}

.svg {
  background-color:rgb(247, 238, 226);
  border: solid;
  border-radius: 3px;
  border-width: 2px;
  border-color: black;
  margin-bottom: 10px;
}

.ball {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-config {
  margin-top: 10px;
  width: 40%;
}

input {
  margin: auto;
}

.labels {
  padding-right: 0px;
}

.button {
  margin-left: 10px;
  margin-bottom: 5px;
  height: 50px;
}

.ball-config {
  width: auto;
  height: 20px;
  margin-right: 20px;
}

.buttons {
  margin-left: 10px;
  margin-right: 20px;
}

h3 {
  text-align: center;
  margin: 10px;
}

.a {
  font-size: 200%;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: rgb(166, 197, 104);
  color: black;
  text-align: center;
}

header {
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  background-color: rgb(238, 196, 210);
  color: black;
  text-align: center;
  padding: 10px;
}

h5 {
  font-weight: 300;
  margin-bottom: 0;
}
h2 {
  margin-bottom: 0;
}
.footnote {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  margin-top: -25px;
  margin-right: 25px;
}

.overview {
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 90%;
}