body {
  background-color: rgb(200, 241, 228);
}  

.container {
  width: auto;
  height: auto;
}

.svg-container {
  margin: auto;
  border: solid;
  padding: 20px 50px 20px 50px;
  border-radius: 3px;
  border-width: 2px;
  border-color: black;
  margin-bottom: 20px;
}

.page-container {
  margin: auto;
  width: 70%;
  margin-top: 30px;
  text-align: center;
}

.svg {
  background-color:rgb(247, 238, 226);
  border: solid;
  border-radius: 3px;
  border-width: 2px;
  border-color: black;
  margin-bottom: 10px;
}

.ball {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-config {
  margin-top: 10px;
  width: 40%;
}

.labels {
  padding-right: 0px;
}

.button {
  margin-left: 10px;
  margin-bottom: 5px;
  height: 50px;
}

.ball-config {
  width: auto;
  height: 20px;
  margin-right: 20px;
}

.buttons {
  margin-left: 10px;
  margin-right: 20px;
}

h1 {
  text-align: center;
}

.a {
  font-size: 200%;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: olivedrab;
  color: black;
  text-align: center;
}